html {
  font-size: 62.5%;  /* 1rem = 10px */
 }

 .App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

.header{
  background-color: white;
  font-size: 5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  align-items: center;
}

.header img{
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.header span{
  display: block;
}

h1{
  font-size: 7rem;
}

.flexContainer{
display: flex;
justify-content: center;
}

.infoBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  width: 20%;
  height: 10%;
  margin-bottom: 1rem;
}

.infoBox img{
  height: 20rem;
  width: 25rem;
}

.infoBox p{
  text-align: left;
  margin: 0.5rem;
}

.enterMessageBox{
  display: flex;
  flex-direction: column;
}

.enterMessageBox input{
  width: 25rem;
  height: 2.5rem;
}

/*source: https://codepen.io/mupkoo/pen/YgddgB */
.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;
    
  padding: 1.2rem 1.6rem 1.2rem 4.2rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .04), 0 0.1rem 0.1rem rgba(0, 0, 0, .25);
  
  color: #757575;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 1.2rem 1.1rem;
}
.login-with-google-btn:hover {
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .04), 0 0.2rem 0.4rem rgba(0, 0, 0, .25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
